<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Server Name</th>
        <th scope="col">Ip Address</th>
        <th scope="col">Memory</th>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let data of listServeurs" >
        <th scope="row">{{data.id}}</th>
        <td>{{data.name}}</td>
        <td>{{data.ipAddress}}</td>
        <td>{{data.memory}}</td>
        <td>{{data.type}}</td>
        <td>{{data.status}}</td>
        <!-- <td>
            <button type="button" class="btn btn-success"
            data-bs-toggle="modal" data-bs-target="#staticBackdrop"(click)="editClick(data)">
            Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteClick(data.id)">Delete</button>
        </td> -->
       
      </tr>
    </tbody>
  </table> 
